!
hostname {{ hostname }}
!
boot-start-marker
boot-end-marker
!
!
vrf definition Mgmt-vrf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
enable secret enterprise
!
no aaa new-model
!
!
!
vlan 2
name HR
vlan 3
name Finance
vlan 4
name Executive
vlan 5
name User
vlan 6 
name Guest
vlan 7
name Voice
vlan 99
name Management
!
vtp domain CNITfa22
vtp version 3
vtp mode server
vtp password cnit450
!
!
user admin algorithm-type scrypt secret password
!
ip ssh version 2
ip domain name 450-001.net
!
!
!
ip routing
!
no ip domain-lookup
!
!
login on-success log
ipv6 unicast-routing
qos queue-softmax-multiplier 100
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
{% if 'd1' in hostname %}
{{ vlan_priority_d1 }}
{% elif 'd2' in hostname %}
{{ vlan_priority_d2 }}
{% endif %}
hw-switch switch 1 logging onboard message level 3
!
!
!
!
interface GigabitEthernet0/0
vrf forwarding Mgmt-vrf
no ip address
shut
negotiation auto
!
interface GigabitEthernet1/0/1
no switchport
ip address {{ vars[short_hostname+'_ip_address'].g1_0_1.ip_address }} {{ vars[short_hostname+'_ip_address'].g1_0_1.subnet_mask }}
ipv6 address {{ vars[short_hostname+'_ip_address'].g1_0_1.ipv6_address }}
!
interface GigabitEthernet1/0/2
switchport mode trunk
!
interface GigabitEthernet1/0/3
switchport mode trunk
!
interface GigabitEthernet1/0/4
no switchport
ip address {{ vars[short_hostname+'_ip_address'].g1_0_4.ip_address }} {{ vars[short_hostname+'_ip_address'].g1_0_4.subnet_mask }}
ipv6 address {{ vars[short_hostname+'_ip_address'].g1_0_4.ipv6_address }}
!
interface GigabitEthernet1/0/5
no switchport
ip address {{ vars[short_hostname+'_ip_address'].g1_0_5.ip_address }} {{ vars[short_hostname+'_ip_address'].g1_0_5.subnet_mask }}
ipv6 address {{ vars[short_hostname+'_ip_address'].g1_0_5.ipv6_address }}
!
interface GigabitEthernet1/0/6
switchport mode trunk
!
interface GigabitEthernet1/0/7
switchport mode trunk
!
interface GigabitEthernet1/0/24
!
description AnsiblePC
switchport mode access
switchport access vlan 99
no shut
!
!
!
!
!
!
!
interface Vlan1
no ip address
shutdown
!
interface Vlan2
ip address {{ vars[short_hostname+'_ip_address'].vlan_2.ip_address }} {{ vars[short_hostname+'_ip_address'].vlan_2.subnet_mask }}
standby version 2
standby 1 ip {{ vars[short_hostname+'_ip_address'].vlan_2.hsrp_address }}
{% if 'd2' in hostname %}
standby 1 priority 110
standby 2 priority 110
{% endif %}
standby 1 preempt
standby 2 ipv6 {{ vars[short_hostname+'_ip_address'].vlan_2.hsrpv6_address }}
standby 2 preempt
ipv6 address {{ vars[short_hostname+'_ip_address'].vlan_2.ipv6_address }}
no shut
!
interface Vlan3
ip address {{ vars[short_hostname+'_ip_address'].vlan_3.ip_address }} {{ vars[short_hostname+'_ip_address'].vlan_3.subnet_mask }}
standby version 2
standby 1 ip {{ vars[short_hostname+'_ip_address'].vlan_3.hsrp_address }}
{% if 'd1' in hostname %}
standby 1 priority 110
standby 2 priority 110
{% endif %}
standby 1 preempt
standby 2 ipv6 {{ vars[short_hostname+'_ip_address'].vlan_3.hsrpv6_address }}
standby 2 preempt
ipv6 address {{ vars[short_hostname+'_ip_address'].vlan_3.ipv6_address }}
no shut
!
interface Vlan4
ip address {{ vars[short_hostname+'_ip_address'].vlan_4.ip_address }} {{ vars[short_hostname+'_ip_address'].vlan_4.subnet_mask }}
standby version 2
standby 1 ip {{ vars[short_hostname+'_ip_address'].vlan_4.hsrp_address }}
{% if 'd2' in hostname %}
standby 1 priority 110
standby 2 priority 110
{% endif %}
standby 1 preempt
standby 2 ipv6 {{ vars[short_hostname+'_ip_address'].vlan_4.hsrpv6_address }}
standby 2 preempt
ipv6 address {{ vars[short_hostname+'_ip_address'].vlan_4.ipv6_address }}
no shut
!
interface Vlan5
ip address {{ vars[short_hostname+'_ip_address'].vlan_5.ip_address }} {{ vars[short_hostname+'_ip_address'].vlan_5.subnet_mask }}
standby version 2
standby 1 ip {{ vars[short_hostname+'_ip_address'].vlan_5.hsrp_address }}
{% if 'd1' in hostname %}
standby 1 priority 110
standby 2 priority 110
{% endif %}
standby 1 preempt
standby 2 ipv6 {{ vars[short_hostname+'_ip_address'].vlan_5.hsrpv6_address }}
standby 2 preempt
ipv6 address {{ vars[short_hostname+'_ip_address'].vlan_5.ipv6_address }}
no shut
!
interface Vlan6
ip address {{ vars[short_hostname+'_ip_address'].vlan_6.ip_address }} {{ vars[short_hostname+'_ip_address'].vlan_6.subnet_mask }}
standby version 2
standby 1 ip {{ vars[short_hostname+'_ip_address'].vlan_6.hsrp_address }}
{% if 'd2' in hostname %}
standby 1 priority 110
standby 2 priority 110
{% endif %}
standby 1 preempt
standby 2 ipv6 {{ vars[short_hostname+'_ip_address'].vlan_6.hsrpv6_address }}
standby 2 preempt
ipv6 address {{ vars[short_hostname+'_ip_address'].vlan_6.ipv6_address }}
no shut
!
interface Vlan7
ip address {{ vars[short_hostname+'_ip_address'].vlan_7.ip_address }} {{ vars[short_hostname+'_ip_address'].vlan_7.subnet_mask }}
standby version 2
standby 1 ip {{ vars[short_hostname+'_ip_address'].vlan_7.hsrp_address }}
{% if 'd1' in hostname %}
standby 1 priority 110
standby 2 priority 110
{% endif %}
standby 1 preempt
standby 2 ipv6 {{ vars[short_hostname+'_ip_address'].vlan_7.hsrpv6_address }}
standby 2 preempt
ipv6 address {{ vars[short_hostname+'_ip_address'].vlan_7.ipv6_address }}
no shut
!
interface Vlan99
ip address {{ vars[short_hostname+'_ip_address'].vlan_99.ip_address }} {{ vars[short_hostname+'_ip_address'].vlan_99.subnet_mask }}
standby version 2
standby 1 ip {{ vars[short_hostname+'_ip_address'].vlan_99.hsrp_address }}
{% if 'd1' in hostname %}
standby 1 priority 110
standby 2 priority 110
{% endif %}
standby 1 preempt
standby 2 ipv6 {{ vars[short_hostname+'_ip_address'].vlan_99.hsrpv6_address }}
standby 2 preempt
ipv6 address {{ vars[short_hostname+'_ip_address'].vlan_99.ipv6_address }}
no shut
!
!
!
!
!
!
!
!
!
router eigrp NA-EIGRP
 !
 address-family ipv4 unicast autonomous-system 65510
  !
  af-interface Vlan2
   passive-interface
  exit-af-interface
  !
  af-interface Vlan3
   passive-interface
  exit-af-interface
  !
  af-interface Vlan4
   passive-interface
  exit-af-interface
  !
  af-interface Vlan5
   passive-interface
  exit-af-interface
  !
  af-interface Vlan6
   passive-interface
  exit-af-interface
  !
  af-interface Vlan7
   passive-interface
  exit-af-interface
  !
  af-interface Vlan99
   passive-interface
  exit-af-interface
  !
  topology base
  exit-af-topology
  network 10.22.0.0 0.0.255.255
  eigrp router-id {{ vars[short_hostname+'_ip_address'].eigrp.ipv4.router_id }}
 exit-address-family
 !
 address-family ipv6 unicast autonomous-system 65510
  !
  af-interface Vlan2
   passive-interface
  exit-af-interface
  !
  af-interface Vlan3
   passive-interface
  exit-af-interface
  !
  af-interface Vlan4
   passive-interface
  exit-af-interface
  !
  af-interface Vlan5
   passive-interface
  exit-af-interface
  !
  af-interface Vlan6
   passive-interface
  exit-af-interface
  !
  af-interface Vlan7
   passive-interface
  exit-af-interface
  !
  af-interface Vlan99
   passive-interface
  exit-af-interface
  !
  topology base
  exit-af-topology
  eigrp router-id {{ vars[short_hostname+'_ip_address'].eigrp.ipv6.router_id }}
 exit-address-family
!
ip forward-protocol nd
ip http server
ip http authentication local
ip http secure-server
!
!
!
!
!
banner motd ^CCCNo Unathorized Users!^C
!
line con 0
 secret enterprise
 logging synchronous
 login local
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 secret enterprise
 transport input ssh
 login local
line vty 5 15
 secret enterprise
 transport input ssh
 login local
!
snmp-server community snmpiscool RO
snmp-server host 10.22.69.200 version 2c snmpiscool
snmp-server enable traps

